body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER  #f6b319 #607D8B**/
#header-nav {
  background-color: #222;
  border-radius: 0;
  border: 0;
}

.navbar-header{
  width: 100%;
  height:170px;
}

#logo-img {
  background: url('../images/jmk_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name #557c3e */
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
  }


#contact_info {
  margin-top: 5px;
  vertical-align: middle;
}
#contact_info a, span { /* Phone number and email */
  color: #fff;
  text-align: right;
  padding-right: 15px;
  padding-bottom: 0;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#academic-tile, #exp-tile, #skills-tile, #msfc-tile, #rlg-tile, #psl-tile, #pzfan-tile, #pubs-tile, #journal-tile {
  height: 425px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#academic-tile:hover, #exp-tile:hover, #skills-tile:hover, #msfc-tile:hover, #rlg-tile:hover, #psl-tile:hover, #pzfan-tile:hover, #pubs-tile:hover, #journal-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#msfc-tile{
  font-size: 90%;
  background: url('../images/sls_2.jpg') no-repeat;
  background-position: center;
}

#rlg-tile{
  font-size: 90%;
  background: url('../images/rlg_2.jpg') no-repeat;
  background-position: center;
}

#psl-tile{
  font-size: 90%;
  background: url('../images/fdp.jpg') no-repeat;
  background-position: center;
}

#pzfan-tile{
  font-size: 90%;
  background: url('../images/pzfan.jpg') no-repeat;
  background-position: center;
}

#academic-tile ul li{
  list-style-type: none;
  margin-bottom: 20px;
}
#exp-tile {
  padding-right: 10px;
}
#exp-tile ul li{
  list-style-type: none;
  margin-bottom: 15px;
}
#skills-tile {
  padding-right: 10px;
}

#skills-tile ul li{
  list-style-type: none;
  margin-bottom: 25px;
}

#pubs-tile {

}

#pubs-tile ul li{
  list-style-type: none;
  margin-bottom: 10px;
}

#academic-tile span, #exp-tile span, #skills-tile span, #msfc-tile span, #rlg-tile span, #psl-tile span, #pzfan-tile span, #pubs-tile span, #journal-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/texan_1200.jpg') no-repeat;
    height: 625px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  .navbar-header{
  height:120px;
}
  #logo-img {
    background: url('../images/jmk_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/texan_992.jpg') no-repeat;
    height: 517px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
.navbar-header{
  height:120px;
}
  /* Home Page */
  .container .jumbotron {
    background: url('../images/texan_768.jpg') no-repeat;
    height: 400px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-header{
  height:120px;
}
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 1.3em; 
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 1.3em;
  }
  /* End Header */
  
  /* Home page */
}

